#profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}

#contactFBIcon {
  width: 3%
}

#control {
  width: 5%
}
.container {
    width: 100px;
    height: 150px;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
}

/*#profileName{
  padding-left: 50px
}*/

#contactBox {
  background: #d0e4f7; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient *
}
